Django==4.0.2
django-crispy-forms
Pillow
pytz
requests
urllib3
django-simple-history
numpy
pandas
matplotlib
seaborn
scikit-learn==1.2.0
tensorflow
keras
torch
scipy
Pillow
opencv-python
xgboost
faker
transformers
spacy
openai
