{% extends "advising_portal/base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="row">
        <div class="semesters-dropdown-menu col-8">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-50" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ patient_name }}
                </button>
                <div class="dropdown-menu w-50" aria-labelledby="dropdownMenuButton">
                    {% for patient in patients %}
                        <a class="dropdown-item"
                           href="{% url 'lab-patient-report' %}?patient_id={{ patient.patient_id }}">{{ patient.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
              <div class="col-6"><strong>Patient ID</strong></div>
              <div class="col-6">{{ patient_id }}</div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Name</strong></div>
              <div class="col-6">{{ patient_name }}</div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Age</strong></div>
              <div class="col-6">{{ age }}</div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Gender</strong></div>
              <div class="col-6">{{ gender }}</div>
            </div>
        </div>

        <div class="col-md-12 col-lg-12">
            <div class="table-responsive card shadow custom-left-table-align">
                <table id="myTable" class="table table-striped">
                    <tbody>
                    <tr>
                        <th class="col-md-1"><b>Test ID</b></th>
                        <th class="col-md-1"><b>Heart Rate</b></th>
                        <th class="col-md-1"><b>Oxygen Sat</b></th>
                        <th class="col-md-1"><b>Temp</b></th>
                        <th class="col-md-1"><b>SBP</b></th>
                        <th class="col-md-1"><b>MAP</b></th>
                        <th class="col-md-1"><b>DBP</b></th>
                        <th class="col-md-1"><b>Resp</b></th>
                        <th class="col-md-1"><b>EtCO2</b></th>
                        <th class="col-md-1"><b>BaseExcess</b></th>
                        <th class="col-md-1"><b>HCO3</b></th>
                        <th class="col-md-1"><b>FiO2</b></th>
                        <th class="col-md-1"><b>PaCO2</b></th>
                        <th class="col-md-1" hidden><b>Patient ID</b></th>
<!--                        <th class="col-md-1"><b>PDF</b></th>-->
                        <th class="col-md-1"><b>Report</b></th>
                    </tr>

                    {% for data in patient_stats %}

                        <tr>
                            <td class="col-md-1 test-id">{{ data.test_id }}</td>
                            <td class="col-md-1">{{ data.HR }}</td>
                            <td class="col-md-1">{{ data.O2Sat }}</td>
                            <td class="col-md-1">{{ data.Temp }}</td>
                            <td class="col-md-1">{{ data.SBP }}</td>
                            <td class="col-md-1">{{ data.MAP }}</td>
                            <td class="col-md-1">{{ data.DBP }}</td>
                            <td class="col-md-1">{{ data.Resp }}</td>
                            <td class="col-md-1">{{ data.EtCO2 }}</td>
                            <td class="col-md-1">{{ data.BaseExcess }}</td>
                            <td class="col-md-1">{{ data.HCO3 }}</td>
                            <td class="col-md-1">{{ data.FiO2 }}</td>
                            <td class="col-md-1">{{ data.PaCO2 }}</td>
                            <td class="col-md-1 patient-id" hidden>{{ data.patient_id_id }}</td>
<!--                            <td class="col-md-1">-->
<!--                                <button class="btn btn-outline-danger generate-pdf">-->
<!--                                    PDF-->
<!--                                </button>-->
<!--                            </td>-->
                            <td class="col-md-1">
                                <button class="btn btn-outline-danger" type="submit">
                                    Generate
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Add this modal section at the end of the template -->
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel"><strong>Medical Report</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="reportContent"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger generate-pdf" data-dismiss="modal">PDF</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function generateReport(patientId, testId) {
            console.log(patientId);
            console.log(testId);

            const url = "{% url 'generate-report' %}?patient_id=" + patientId + "&test_id=" + testId;

            fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const reportContent = document.getElementById('reportContent');
                    const report_data = data.report;

                    function createContentElement(text) {
                        const div = document.createElement('div');
                        div.innerHTML = text.replace(/\n/g, "<br>");
                        return div;
                    }

                    var childElement = reportContent.querySelector("h2");

                    if (childElement) {
                        reportContent.removeChild(childElement);
                    }

                    var childElement = reportContent.querySelector("div");

                    if (childElement) {
                        reportContent.removeChild(childElement);
                    }

                    const titleElement = document.createElement('h2');
                    titleElement.textContent = data.report.title;
                    reportContent.appendChild(titleElement);

                    const contentElement = createContentElement(report_data);
                    reportContent.appendChild(contentElement);

                    const reportModal = new bootstrap.Modal(document.getElementById('reportModal'));
                    reportModal.show();
                } else {
                    console.error(data.error);
                }
            })
            .catch(error => {
                console.error(error);
            });
        }

        const reportButtons = document.querySelectorAll('.btn-outline-danger');
        reportButtons.forEach(button => {
            button.addEventListener('click', () => {
                const patientId = button.closest('tr').querySelector('.patient-id').textContent;
                const testId = button.closest('tr').querySelector('.test-id').textContent;

                generateReport(patientId, testId);
            });
        });

        const boxes = Array.from(document.getElementsByClassName('generate-pdf'));

        boxes.forEach(box => {
            box.addEventListener('click', function handleClick(event) {
                window.jsPDF = window.jspdf.jsPDF;
                var doc = new jsPDF();

                const reportContent = document.getElementById('reportContent');

                doc.setFontSize(10);
                doc.setFont('helvetica');
                doc.setTextColor(0, 0, 0);

                doc.html(reportContent, {
                    callback: function (doc) {
                        doc.save('report.pdf');
                    },
                    x: 10,
                    y: 10,
                    width: 170,
                    windowWidth: 650
                });
            });
        });

    </script>

{% endblock content %}
