{% extends "advising_portal/base.html" %}
{% load static %}
{% block content %}
    <div align="right">
        <a href="{% url 'faculty-panel-semester-create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i>Create semester</a>
    </div>

    <div class="table-responsive card shadow custom-left-table-align">
        <table id="myTable" class="table table-striped">
            <tbody>
            <tr>
                <th class="col-md-1"><b>Semester</b></th>
                <th class="col-md-1"><b>Start Date</b></th>
                <th class="col-md-1"><b>Finish Date</b></th>
                <th class="col-md-1"><b>Advising Status</b></th>
                <th class="col-md-1"><b>Seat Request Status</b></th>
                <th class="col-md-1"><b>Add Drop Status</b></th>
                <th class="col-md-1"><b>Active</b></th>
                <th class="col-md-1"><b>Details</b></th>
            </tr>

            <tr>
                <td colspan="7" align="right">
                    <form
                            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group custom-search-align">
                            <input type="text" id="myInput" onkeyup="table_search(7)"
                                   class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>

            {% for semester in semesters %}

                <tr>
                    <td class="col-md-1">{{ semester.semester_name }}</td>
                    <td class="col-md-1">{{ semester.semester_starts_at }}</td>
                    <td class="col-md-1">{{ semester.semester_ends_at }}</td>
                    <td class="col-md-1">{{ semester.advising_status }}</td>
                    <td class="col-md-1">{{ semester.seat_request_status }}</td>
                    <td class="col-md-1">{{ semester.add_drop_status }}</td>
                    <td class="col-md-1">{{ semester.is_active }}</td>
                    <td class="col-md-1">
                        <button class="btn btn-outline-danger" type="submit" onclick="location.href='{% url 'faculty-panel-semester-detail' semester.semester_id %}'">
                            Detail
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
